In [5]:
import pandas as pd
from SPARQLWrapper import SPARQLWrapper, JSON
sparql = SPARQLWrapper("https://sophox.org/sparql")

In [12]:
sparql.setQuery("""SELECT ?name ?housenumber ?street 
WHERE {
   ?museum osmt:addr:city "Lisbon";
      osmt:tourism "museum";
      osmm:loc ?loc ;
      osmt:name ?name ;
      osmt:addr:housenumber ?housenumber ;
      osmt:addr:street ?street .
      # The following tells it to only get museums south of the Javits Center
      # FILTER(geof:latitude(?loc) < 40.758289)
}
""")
sparql.setReturnFormat(JSON)
results = sparql.query().convert()

for result in results["results"]["bindings"]:
    print(result)

{'name': {'type': 'literal', 'value': 'John Bishop House'}, 'street': {'type': 'literal', 'value': 'South Burnham Highway'}, 'housenumber': {'type': 'literal', 'value': '11'}}
{'name': {'type': 'literal', 'value': 'Museu do Centro Científico e Cultural de Macau'}, 'street': {'type': 'literal', 'value': 'Rua da Junqueira'}, 'housenumber': {'type': 'literal', 'value': '30'}}

In [18]:
results

{'head': {'vars': ['name', 'housenumber', 'street']},
 'results': {'bindings': [{'name': {'type': 'literal',
     'value': 'John Bishop House'},
    'street': {'type': 'literal', 'value': 'South Burnham Highway'},
    'housenumber': {'type': 'literal', 'value': '11'}},
   {'name': {'type': 'literal',
     'value': 'Museu do Centro Científico e Cultural de Macau'},
    'street': {'type': 'literal', 'value': 'Rua da Junqueira'},
    'housenumber': {'type': 'literal', 'value': '30'}}]}}

In [14]:
data = []
for result in results["results"]["bindings"]:
    data.append({
        'name': result['name']['value'],
        'housenumber': result['housenumber']['value'],
        'street': result['street']['value']
    })

In [15]:
data

[{'name': 'John Bishop House',
  'housenumber': '11',
  'street': 'South Burnham Highway'},
 {'name': 'Museu do Centro Científico e Cultural de Macau',
  'housenumber': '30',
  'street': 'Rua da Junqueira'}]

In [16]:
df = pd.DataFrame(data)
print(df)

                                             name housenumber  \
0                               John Bishop House          11
1  Museu do Centro Científico e Cultural de Macau          30

                  street
0  South Burnham Highway
1       Rua da Junqueira

In [17]:
df

,name,housenumber,street
0,John Bishop House,11,South Burnham Highway
1,Museu do Centro Científico e Cultural de Macau,30,Rua da Junqueira